<section class="bg-white w-full px-4 lg:mx-0 xl:mx-0 mx-auto py-10 mt-5">
  <div class="w-full md:max-w-5xl mx-auto">
    <h1 class="pt-8 text-3xl tracking-tight font-medium leading-10">
      Dear <span class=""> Passionate Creator </span>
    </h1>
    <h1 class="text-3xl tracking-tight font-medium leading-10">
      Does this sound like you?
    </h1>
    <ul class="flex flex-col list-disc m-5 md:p-5">
      <li class="text-lg md:text-2xl tracking-tight font-medium">
        You’re <span class="highlight">pouring hours</span> into your creative work,
        but your income doesn’t reflect your effort…
      </li>
      <li class="text-lg md:text-2xl tracking-tight font-medium my-2">
        You’re <span class="highlight">overwhelmed</span> by advice that’s confusing,
        contradictory, or downright impractical…
      </li>
      <li class="text-lg md:text-2xl tracking-tight font-medium">
        You want to turn your creativity into a <span class="highlight"
          >real business</span
        > but don’t know where to start or how to scale…
      </li>
    </ul>
    <p class="text-xl tracking-tight font-normal">
      If you nodded along, you’re not alone. And I have good news…
    </p>
    <p class="text-xl tracking-tight font-normal py-2">
      There’s a faster, simpler, burnout-free way to turn your creativity into
      consistent income.
    </p>
    <p class="text-xl tracking-tight font-normal">
      I’ll tell you more about that in a moment…
    </p>

    <p class="text-3xl tracking-tight font-medium mt-7">Now Imagine this:</p>

    <div class="mt-5">
      <ul class="flex flex-col list-disc m-5 p-5">
        <li class="text-lg md:text-2xl tracking-tight font-medium">
          Waking up every day with <span class="highlight">clarity</span>. You
          know exactly what steps to take to grow your Business
        </li>
        <li class="text-lg md:text-2xl tracking-tight font-medium my-2">
          Having more <span class="highlight">time</span> to do what you love without
          <span class="highlight">sacrificing</span> your health, family, or authenticity

          <li class="text-lg md:text-2xl tracking-tight font-medium">
            Watching your creativity finally <span class="highlight"
              >pay off</span
            >, with real, measurable <span class="highlight"
              >income flowing in</span
            >.
          </li>
        </li>
      </ul>
    </div>
    <p class="text-xl tracking-tight font-normal">
      It is all very possible to achieve all those…
    </p>
    <p class="text-xl tracking-tight font-normal">
      But here’s the brutal truth:-
    </p>
    <p class="text-xl tracking-tight font-normal mt-2">
      Without a clear strategy, monetizing your creativity is like wandering in
      the dark.
    </p>
    <p class="text-xl tracking-tight font-normal my-2">
      You end up wasting time…losing confidence…and questioning whether you’re
      good enough.
    </p>
    <p class="text-xl tracking-tight font-normal">
      I get it because I have been there too.
    </p>

    <p class="text-xl tracking-tight font-normal py-2">
      I'm sold already, where can i buy?
    </p>
    <a
      href="https://selar.co/13hm7u"
      target="_blank"
      class="w-fit flex mt-5 text-sm md:text-base bg-purple-600 text-white tracking-tight font-medium px-5 py-4 rounded-full"
    >
      Click here to Monetize your creativity <span class="px-1"> $27</span>
      {" "}
      <span class="line-through"> $49</span>
    </a>
  </div>
</section>
