---
const year = new Date().getFullYear();

console.log("Current year is:", year);
---

<section class="w-full flex flex-col px-4 py-10 justify-center items-center">
  <p class="text-base font-medium tracking-tighter">
    &copy; {` copyright ${year} -  Amplify & Scale Framework`}
  </p>
  <p class="text-base font-medium tracking-tighter">Payment secured by Selar</p>
</section>
