<section class="bg-white w-full py-5 md:py-10" id="pricing">
  <div class="w-full md:max-w-5xl mx-auto">
    <h1 class="text-3xl text-center tracking-tight font-medium leading-10">
      Transparent Pricing
    </h1>
    <section
      class="bg-white p-1 border-[#f3f3f3] mx-auto border-[1px] md:max-w-2xl grid grid-cols-1 md:grid-cols-2 mt-5"
    >
      <div class="bg-[#f9f6f4] p-5">
        <span class="text-sm font-medium text-gray-500"
          >Pay once, get access for life</span
        >
        <h1 class="text-xl md:text-2xl font-semibold tracking-tighter">
          <span class="line-through">$49</span> $27
        </h1>
        <div class="flex flex-col py-5">
          <div class="pt-2 flex items-center">
            <span
              ><svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18.4933 6.93502C18.8053 7.20743 18.8374 7.68122 18.565 7.99325L10.7079 16.9933C10.5654 17.1564 10.3594 17.25 10.1429 17.25C9.9263 17.25 9.72031 17.1564 9.57788 16.9933L6.43502 13.3933C6.16261 13.0812 6.19473 12.6074 6.50677 12.335C6.8188 12.0626 7.29259 12.0947 7.565 12.4068L10.1429 15.3596L17.435 7.00677C17.7074 6.69473 18.1812 6.66261 18.4933 6.93502Z"
                  fill="#C14B24"></path>
              </svg></span
            >
            <p class="text-sm tracking-tighter font-medium">
              The Creative Hustle Blueprint
            </p>
          </div>

          <div class="pt-2 flex items-center">
            <span
              ><svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18.4933 6.93502C18.8053 7.20743 18.8374 7.68122 18.565 7.99325L10.7079 16.9933C10.5654 17.1564 10.3594 17.25 10.1429 17.25C9.9263 17.25 9.72031 17.1564 9.57788 16.9933L6.43502 13.3933C6.16261 13.0812 6.19473 12.6074 6.50677 12.335C6.8188 12.0626 7.29259 12.0947 7.565 12.4068L10.1429 15.3596L17.435 7.00677C17.7074 6.69473 18.1812 6.66261 18.4933 6.93502Z"
                  fill="#C14B24"></path>
              </svg></span
            >
            <p class="text-sm tracking-tighter font-medium">
              Scalable Revenue Roadmap
            </p>
          </div>

          <div class="pt-2 flex items-center">
            <span
              ><svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18.4933 6.93502C18.8053 7.20743 18.8374 7.68122 18.565 7.99325L10.7079 16.9933C10.5654 17.1564 10.3594 17.25 10.1429 17.25C9.9263 17.25 9.72031 17.1564 9.57788 16.9933L6.43502 13.3933C6.16261 13.0812 6.19473 12.6074 6.50677 12.335C6.8188 12.0626 7.29259 12.0947 7.565 12.4068L10.1429 15.3596L17.435 7.00677C17.7074 6.69473 18.1812 6.66261 18.4933 6.93502Z"
                  fill="#C14B24"></path>
              </svg></span
            >
            <p class="text-sm tracking-tighter font-medium">
              Plug-and-Play Templates
            </p>
          </div>

          <div class="pt-2 flex items-center">
            <span
              ><svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18.4933 6.93502C18.8053 7.20743 18.8374 7.68122 18.565 7.99325L10.7079 16.9933C10.5654 17.1564 10.3594 17.25 10.1429 17.25C9.9263 17.25 9.72031 17.1564 9.57788 16.9933L6.43502 13.3933C6.16261 13.0812 6.19473 12.6074 6.50677 12.335C6.8188 12.0626 7.29259 12.0947 7.565 12.4068L10.1429 15.3596L17.435 7.00677C17.7074 6.69473 18.1812 6.66261 18.4933 6.93502Z"
                  fill="#C14B24"></path>
              </svg></span
            >
            <p class="text-sm tracking-tighter font-medium">
              Profitable Pricing Calculator
            </p>
          </div>
        </div>
        <a
          href="https://selar.co/13hm7u"
          target="_blank"
          class="w-full flex justify-center items-center mt-5 bg-purple-600 text-white tracking-nro font-medium px-6 py-3 rounded-full"
        >
          Get full Access
        </a>
      </div>
      <div class="bg-white flex flex-col justify-center p-5">
        <p class="text-lg font-medium tracking-tighter">
          Other Benefits you get
        </p>
        <div class="pt-5 flex items-center">
          <span
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.4933 6.93502C18.8053 7.20743 18.8374 7.68122 18.565 7.99325L10.7079 16.9933C10.5654 17.1564 10.3594 17.25 10.1429 17.25C9.9263 17.25 9.72031 17.1564 9.57788 16.9933L6.43502 13.3933C6.16261 13.0812 6.19473 12.6074 6.50677 12.335C6.8188 12.0626 7.29259 12.0947 7.565 12.4068L10.1429 15.3596L17.435 7.00677C17.7074 6.69473 18.1812 6.66261 18.4933 6.93502Z"
                fill="#C14B24"></path>
            </svg></span
          >
          <p class="text-sm tracking-tighter font-medium">
            Short-Form Video Content Strategy (value: $35.99)
          </p>
        </div>
        <div class="pt-2 flex items-center">
          <span
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.4933 6.93502C18.8053 7.20743 18.8374 7.68122 18.565 7.99325L10.7079 16.9933C10.5654 17.1564 10.3594 17.25 10.1429 17.25C9.9263 17.25 9.72031 17.1564 9.57788 16.9933L6.43502 13.3933C6.16261 13.0812 6.19473 12.6074 6.50677 12.335C6.8188 12.0626 7.29259 12.0947 7.565 12.4068L10.1429 15.3596L17.435 7.00677C17.7074 6.69473 18.1812 6.66261 18.4933 6.93502Z"
                fill="#C14B24"></path>
            </svg></span
          >

          <p class="text-sm tracking-tighter font-medium">
            DIY Makeshift W.F.H Space Guide (value: $12)
          </p>
        </div>

        <div class="pt-2 flex items-center">
          <span
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.4933 6.93502C18.8053 7.20743 18.8374 7.68122 18.565 7.99325L10.7079 16.9933C10.5654 17.1564 10.3594 17.25 10.1429 17.25C9.9263 17.25 9.72031 17.1564 9.57788 16.9933L6.43502 13.3933C6.16261 13.0812 6.19473 12.6074 6.50677 12.335C6.8188 12.0626 7.29259 12.0947 7.565 12.4068L10.1429 15.3596L17.435 7.00677C17.7074 6.69473 18.1812 6.66261 18.4933 6.93502Z"
                fill="#C14B24"></path>
            </svg></span
          >

          <p class="text-sm tracking-tighter font-medium">
            Productivity Weekly Planner (value: $27)
          </p>
        </div>

        <div class="pt-2 flex items-center">
          <span
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.4933 6.93502C18.8053 7.20743 18.8374 7.68122 18.565 7.99325L10.7079 16.9933C10.5654 17.1564 10.3594 17.25 10.1429 17.25C9.9263 17.25 9.72031 17.1564 9.57788 16.9933L6.43502 13.3933C6.16261 13.0812 6.19473 12.6074 6.50677 12.335C6.8188 12.0626 7.29259 12.0947 7.565 12.4068L10.1429 15.3596L17.435 7.00677C17.7074 6.69473 18.1812 6.66261 18.4933 6.93502Z"
                fill="#C14B24"></path>
            </svg></span
          >

          <p class="text-sm tracking-tighter font-medium">
            DIY Workspace Guide (value: $19)
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
