---
import { Image } from "astro:assets";
import Bag from "../assets/dimeji-money-images-business.png";
---

<section class="pt-5 pb-10 bg-white px-4 lg:px-0 xl:px-0" id="">
  <main class="w-full md:max-w-5xl md:mx-auto flex flex-col pt-5 md:pt-10">
    <span
      class="box w-fit text-center text-sm px-5 py-2 bg-white tracking-tight font-normal"
      >Introducing...
    </span>
    <h1
      class="px-4 text-left md:px-0 text-2xl pt-8 md:text-3xl tracking-tight font-medium leading-9 md:leading-10"
    >
      <span class="highlight"> The Amplify & Scale Framework </span>
    </h1>

    <section class="grid grid-cols-1 gap-9 mt-5">
      <div class="">
        <p class="text-lg tracking-tight font-normal">
          This simple, step-by-step guide is the exact system I used to turn my
          passion into profit.
        </p>
        <p class="text-lg tracking-tight font-normal pt-2">
          It’s designed to help you:
        </p>
        <ul class="list-disc p-5">
          <li class="text-lg tracking-tight font-normal">
            Stop wasting time on guesswork and focus on what works (pun
            intended)
          </li>
          <li class="text-lg tracking-tight font-normal">
            Build a business that feels authentic, sustainable, and profitable
          </li>
          <li class="text-lg tracking-tight font-normal">
            Finally, see your creativity valued the way it deserves to be
          </li>
          <li class="text-lg tracking-tight font-normal">
            You don’t need to burn out chasing trends or scrambling for
            opportunities
          </li>
        </ul>

        <p class="text-lg tracking-tight font-normal py-2">
          With the right framework, you can build a thriving business while
          giving you the freedom to live the life you’ve always wanted.
        </p>

        <p class="text-lg tracking-tight font-normal">
          This isn’t another bloated resource filled with fluff. It’s a
          streamlined system designed for busy creatives like you.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          Inside you’ll discover:
        </p>
        <ul class="list-disc p-5">
          <li class="text-lg tracking-tight font-normal">
            A step-by-step plan to turn your skills into scalable income
          </li>
          <li class="text-lg tracking-tight font-normal">
            Proven techniques to reclaim your time and focus on what matters
            most
          </li>
          <li class="text-lg tracking-tight font-normal">
            The tools you need to create and grow a business without
            second-guessing every decision
          </li>
        </ul>
      </div>
    </section>
    <h1 class="text-2xl tracking-tighter font-medium py-4">
      Here’s an Overview of EXACTLY what you’ll get:
    </h1>
    <p class="text-lg tracking-tight font-normal">
      When you join the Amplify & Scale Framework, you’ll receive…
    </p>

    <section class="grid grid-cols md:grid-cols-2 gap-5 md:gap-10 mt-5">
      <section class="bg-[#f9f6f4] p-4 md:p-8 rounded-2xl">
        <h1 class="text-2xl font-semibold tracking-tighter">
          #1 The Creative Hustle Blueprint:
        </h1>
        <p class="text-lg tracking-tight font-normal py-4">
          A clear roadmap to turn your creative skills into a profitable
          business.
        </p>
      </section>
      <section class="bg-[#f9f6f4] p-4 md:p-8 rounded-2xl">
        <h1 class="text-2xl font-semibold tracking-tighter">
          #2 Scalable Revenue Roadmap:
        </h1>
        <p class="text-lg tracking-tight font-normal py-4">
          Proven methods to create multiple streams of income that grow with
          your brand.
        </p>
      </section>

      <section class="bg-[#f9f6f4] p-4 md:p-8 rounded-2xl">
        <h1 class="text-2xl font-semibold tracking-tighter">
          #3: Plug-and-Play Templates:
        </h1>
        <p class="text-lg tracking-tight font-normal py-4">
          Easy-to-use templates for pitching brands and securing profitable
          partnerships.
        </p>
      </section>
      <section class="bg-[#f9f6f4] p-4 md:p-8 rounded-2xl">
        <h1 class="text-2xl font-semibold tracking-tighter">
          #4: Profitable Pricing Calculator:
        </h1>
        <p class="text-lg tracking-tight font-normal py-4">
          Take the guesswork out of pricing your services and start earning what
          you’re worth.
        </p>
      </section>
    </section>
    <div class="w-full flex mt-4 justify-center items-center">
      <Image
        src={Bag}
        alt="Creators make money"
        loading={"lazy"}
        class="w-72 rounded-[12px]"
      />
    </div>
    <h1 class="text-2xl tracking-tighter font-medium py-4">
      But that’s not all. There’s more…
    </h1>
    <p class="text-lg tracking-tight font-normal">
      When you grab the Amplify & Scale Framework today, you’ll also get these
      bonuses for FREE:
    </p>

    <section class="grid grid-cols md:grid-cols-2 gap-5 md:gap-10 mt-5">
      <section class="bg-[#f9f6f4] p-4 md:p-8 rounded-2xl">
        <h1 class="text-2xl font-semibold tracking-tighter">
          #1: Short-Form Video Content Strategy:
        </h1>
        <p class="text-lg tracking-tight font-normal py-4">
          Learn how to create videos that build trust and establish you as an
          expert in your field. <b>(value $35.99)</b>
        </p>
      </section>
      <section class="bg-[#f9f6f4] p-4 md:p-8 rounded-2xl">
        <h1 class="text-2xl font-semibold tracking-tighter">
          #2: DIY Makeshift W.F.H Space Guide:
        </h1>
        <p class="text-lg tracking-tight font-normal py-4">
          How to create a functional at-home office without spending a dime.
          <b>(value: $12)</b>
        </p>
      </section>

      <section class="bg-[#f9f6f4] p-4 md:p-8 rounded-2xl">
        <h1 class="text-2xl font-semibold tracking-tighter">
          #3: Productivity Weekly Planner:
        </h1>
        <p class="text-lg tracking-tight font-normal py-4">
          Printable planner to organize your daily schedule, define your top
          tasks, and stay hyper-focused with a Pomodoro Tracker. <b
            >(value: $27)</b
          >
        </p>
      </section>
      <section class="bg-[#f9f6f4] p-4 md:p-8 rounded-2xl">
        <h1 class="text-2xl font-semibold tracking-tighter">
          #4: DIY Workspace Guide:
        </h1>
        <p class="text-lg tracking-tight font-normal py-4">
          Learn how to create a simple, inspiring creative workspace.<b>
            (value: $19)
          </b>
        </p>
      </section>
    </section>

    <div class="w-full flex-col flex justify-center items-center py-5">
      <p class="text-lg py-5 tracking-tighter">
        Total Bonus Value = <b>$93.99</b>
      </p>
    </div>

    <h1 class="text-2xl tracking-tighter font-medium py-4">
      Why Choose the Amplify & Scale Framework?
    </h1>
    <p class="text-lg tracking-tight font-normal">
      The Amplify & Scale Framework is:
    </p>

    <ul class="list-disc p-5">
      <li class="text-lg tracking-tight font-normal">
        Designed to help you take action
      </li>
      <li class="text-lg tracking-tight font-normal">
        Focused on simplicity. No confusing jargon, just proven strategies that
        work
      </li>
      <li class="text-lg tracking-tight font-normal">
        Created for YOU. Specifically tailored to creators ready to make money
        from their work
      </li>
    </ul>
    <p class="text-lg font-semibold tracking-tighter">
      The total value of the insights, tools, and bonuses in this framework is
      $243.99
    </p>
    <p class="text-base font-medium tracking-tighter py-2">
      And the original price is $49…
    </p>
    <p class="text-base">
      But when you preorder today, you’ll get access to everything for just $27.
    </p>

    <div class="w-full flex-col flex justify-center items-center py-5">
      <!-- <p class="flex mt-5 text-base font-medium tracking-tighter">
        Limited to only{" "}
        <span class="text-purple-600 mx-[2px]">0 of 75 {" "}</span>
        {" "} creators
      </p> -->
      <a
        href="#pricing"
        class="w-fit flex mt-5 text-sm md:text-base bg-purple-600 text-white tracking-tight font-medium px-5 py-4 rounded-full"
      >
        Click here to Monetize your creativity
      </a>
    </div>

    <h1 class="text-2xl tracking-tighter font-medium py-4">
      Yes…but why such a low price?
    </h1>
    <p class="text-lg tracking-tight font-normal">
      Because it’s on pre-order, I want this to be accessible for every creator
      who’s ready to take the next step.
    </p>

    <p class="text-lg tracking-tight font-normal py-2">
      The original price once it’s live is $49.
    </p>
    <p class="text-lg tracking-tight font-normal">
      But you can have access today for as low as $1 a day when you preorder the
      <b>Amply & Scale Framework for $27.</b>
    </p>

    <p class="text-lg tracking-tight font-normal py-2">
      There are only 75 spots available for the preorder. However, this will
      last for a limited time. So either the 75 spots are filled soon or the
      preroder period comes to an end…
    </p>
    <p class="text-lg tracking-tight font-normal">
      Either way, we’ll close the cart in the next few days. Then every other
      person will get it at the orignal price it goes live.
    </p>
    <p class="text-lg tracking-tight font-normal py-2">
      But I suspect the spots will get taken fast.
    </p>
    <p class="text-lg tracking-tight font-normal">Why?</p>
    <p class="text-lg tracking-tight font-normal py-2">
      <b>1,877</b> people are aware of the preorder.
    </p>
    <p class="text-lg tracking-tight font-normal">
      So if you take and don’t wish for things to happen…
    </p>
    <p class="text-lg tracking-tight font-normal">
      And you need the Creative Hustle Framework to:
    </p>

    <ul class="list-disc p-5">
      <li class="text-lg tracking-tight font-normal">
        Build a profitable, scalable business aligned with your passions
      </li>
      <li class="text-lg tracking-tight font-normal">
        Learn how to pitch brands, package your ideas, and secure partnerships
      </li>
      <li class="text-lg tracking-tight font-normal">
        Automate and streamline repetitive tasks, giving you more time to create
      </li>
      <li class="text-lg tracking-tight font-normal">
        Finally feel confident about your pricing, positioning, and strategy
      </li>
    </ul>
  </main>
</section>
