---
import { Image } from "astro:assets";
import CreatorImage from "../assets/creator-working-from-home.jpg";
import Family from "../assets/Dimeji-creator-family.webp";
import WorkingCreator from "../assets/Dimeji-creator-working.jpg";
---

<section class="bg-[#f9f6f4] w-full px-4 lg:px-0 xl:px-0 py-10">
  <div class="w-full md:max-w-5xl mx-auto">
    <h1 class="text-3xl tracking-tight font-medium leading-10">
      Why listen to me?
    </h1>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-9 mt-5">
      <div class="">
        <p class="text-lg md:text-base tracking-tight font-normal">
          Hi, my name is Oladimeji Ajegbile.
        </p>
        <p class="text-lg md:text-base tracking-tight font-normal py-2">
          I am a stay-at-home dad…husband to the love of my
          life…creator…entrepreneur…and a lover of God.
        </p>
        <p class="text-lg md:text-base tracking-tight font-normal">
          I’ve been <span class="font-semibold">
            featured in NBC News Now in the US
          </span>
          and have <span class="font-semibold"
            >spoken at several conferences including TED events.
          </span>
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          Collectively, <span class="font-semibold"
            >I have over 250,000 followers across social media.</span
          >
        </p>
        <p class="text-lg md:text-base tracking-tight font-normal">
          You're right to call me a successful creative, but I have had my share
          of challenges as a creative.
        </p>
        <p class="text-lg md:text-base tracking-tight font-normal py-2">
          Let me explain.
        </p>
        <p class="text-lg md:text-base tracking-tight font-normal">
          Like many creatives...
        </p>
        <p class="text-lg md:text-base tracking-tight font-normal">
          I have sat at my desk and stared at my laptop screen with a mix of
          exhaustion and defeat… Silent inbox notifications, invisible content,
          and I couldn’t escape the crushing pressure to “hustle harder.”
        </p>
      </div>
      <div class="bg-white box p-1">
        <Image
          src={Family}
          alt="Dimeji Creator working from home"
          loading={"lazy"}
          class="w-full h-[376px] object-cover rounded-[12px]"
        />
      </div>
    </section>
  </div>
  <p
    class="text-center tracking-tight font-medium text-lg bg-green-500 w-fit mx-auto my-10 px-4"
  >
    “I had thought more grind = visibility = money & freedom…”
  </p>

  <div class="w-full md:max-w-5xl mx-auto">
    <div class="bg-white box p-1">
      <Image
        src={CreatorImage}
        alt="Dimeji Creator working from home"
        loading={"lazy"}
        class="w-full h-[480px] object-cover rounded-[12px]"
      />
    </div>
    <section class="grid grid-cols-1 gap-9 mt-5">
      <div class="">
        <p class="text-lg tracking-tight font-normal">
          But the equation didn’t fit.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">I mean…</p>
        <p class="text-lg tracking-tight font-normal">
          Look at the number of creators with huge followers (maybe even more
          than I have) not making enough money.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          And if you're like me who struggled as a creator…
        </p>
        <p class="text-lg tracking-tight font-normal">It's not your fault.</p>
        <p class="text-lg tracking-tight font-normal py-2">
          Everyone continues to promote the hustle culture if you produce more
          content it will automatically turn into revenue.
        </p>
        <p class="text-lg tracking-tight font-normal">
          At least it didn't for me until I discovered a framework I'll tell you
          about soon.
        </p>
        <p class="text-lg tracking-tight font-normal">
          I would pour every ounce of creativity into my work hoping it would
          lead to something greater.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          Nothing seemed to stick.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          My efforts felt like sand slipping through my fingers. And to be
          honest…
        </p>
      </div>
    </section>
  </div>

  <p
    class="text-center tracking-tight font-medium text-lg bg-red-500 w-fit mx-auto my-10 px-10"
  >
    I Wanted to Give Up.
  </p>

  <div class="w-full md:max-w-5xl mx-auto">
    <section class="grid grid-cols-1 gap-9 mt-5">
      <div class="">
        <p class="text-lg tracking-tight font-normal">
          Deep down, I knew my work mattered…
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          But the weight of endless <span class="underline">
            trial and error
          </span>
          without results made me question if I was fooling myself.
        </p>
        <p class="text-lg tracking-tight font-normal">
          “Maybe I’m just not cut out for this…”
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          Because I was stuck in a painful cycle…
        </p>
        <ul class="list-disc p-5 m-5">
          <li class="text-lg tracking-tight font-normal">
            Trying to make something—anything—work
          </li>
          <li class="text-lg tracking-tight font-normal">
            Spending countless hours on content only to feel invisible in a sea
            of creators
          </li>
          <li class="text-lg tracking-tight font-normal">
            Fearing that I’d have to give up on my passion and settle for a life
            that didn’t feel like mine
          </li>
        </ul>
        <p class="text-lg tracking-tight font-normal">
          It was frustrating and exhausting
        </p>
        <p class="text-3xl text-center tracking-tighter font-medium py-4">
          Until I realized something:
        </p>
        <p class="text-lg tracking-tight font-normal">
          I wish I could tell you I woke up one morning brimming with confidence
          and clarity.
        </p>
        <p class="text-lg tracking-tight font-normal">
          But the truth is, my turning point didn’t come in a flash.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          It came when I finally admitted to myself that…
        </p>
      </div>
    </section>
  </div>

  <p
    class="text-center tracking-tight font-medium text-lg bg-green-500 w-fit mx-auto my-10 px-10"
  >
    “Creativity isn’t enough”
  </p>
  <div class="w-full md:max-w-5xl mx-auto">
    <section class="grid grid-cols-1 gap-9 mt-5">
      <div class="">
        <p class="text-lg tracking-tight font-normal">
          For years, I believed that if I created enough, someone would notice
          me.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          But waiting for opportunities was a slow death for my dreams.
        </p>
        <p class="text-lg tracking-tight font-normal">
          I realized that to succeed I needed more than talent.
        </p>
        <div class="bg-white box p-1 mt-4">
          <Image
            src={WorkingCreator}
            alt="Dimeji Creator working from home"
            loading={"lazy"}
            class="w-full h-[480px] object-cover rounded-[12px]"
          />
        </div>
        <p class="text-lg tracking-tight font-normal py-2">
          I needed a framework…a clear plan to turn my creativity into
          consistent income.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          That’s when everything began to shift.
        </p>
        <p class="text-lg tracking-tight font-normal">
          I dove deep into understanding how creatives like us could:
        </p>
        <ul class="list-disc p-5">
          <li class="text-lg tracking-tight font-normal">
            Monetize our skills without losing the joy of creating
          </li>
          <li class="text-lg tracking-tight font-normal">
            Build systems that simplify the business side of things
          </li>
          <li class="text-lg tracking-tight font-normal">
            Stop burning out trying to do everything alone
          </li>
        </ul>
        <p class="text-lg tracking-tight font-normal">
          It wasn’t about “hustling harder.” It was about working smarter.
        </p>

        <p class="text-lg tracking-tight font-normal py-2">
          I tested and refined these ideas, and soon, the results began to speak
          for themselves:
        </p>
        <ul class="list-disc p-5">
          <li class="text-lg tracking-tight font-normal">
            I was finally landing brand deals and partnerships...not by chance
            but by design and the grace of God
          </li>
          <li class="text-lg tracking-tight font-normal">
            I could create with confidence, knowing my work was leading to real,
            measurable income
          </li>
          <li class="text-lg tracking-tight font-normal">
            I had more time for what mattered—my family, my health, and the
            creative spark that started it all
          </li>
        </ul>
      </div>
    </section>
  </div>

  <div class="w-full md:max-w-5xl mx-auto">
    <h1 class="text-3xl tracking-tight font-medium leading-10">
      The Realization That Changed Everything
    </h1>
    <section class="grid grid-cols-1 gap-9 mt-5">
      <div class="">
        <p class="text-lg tracking-tight font-normal">Here’s the truth…</p>
        <p class="text-lg tracking-tight font-normal py-2">
          The freedom we crave as creators doesn’t come from endless hustle.
        </p>
        <p class="text-lg tracking-tight font-normal">
          It<b>
            comes from clarity…structure…and knowing how to use creativity as
            the foundation for a profitable business.</b
          >
        </p>
        <a
          href="#pricing"
          class="w-fit flex my-5 text-sm md:text-base bg-purple-600 text-white tracking-tight font-medium px-5 py-4 rounded-full"
        >
          Click here to Monetize your creativity
        </a>
        <p class="text-lg tracking-tight font-normal py-2">
          During my test, I observed what worked and what didn't when I tried to
          make money as a creative.
        </p>
        <p class="text-lg tracking-tight font-normal">
          Then I used what worked and continued to improve on them.
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          Because it worked so well beyond my expectations, I created SOPs…
        </p>
        <p class="text-lg tracking-tight font-normal py-2">
          And turned repetitive tasks into a framework. I have used it over the
          years to get results for myself and tried it with other people… And it
          worked.
        </p>
        <p class="text-lg tracking-tight font-normal">
          And for the first time, I want other creatives to use this framework
          to monetize their creativity.
        </p>
      </div>
    </section>
  </div>
</section>
