<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fav.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Monetize your creativity as a creator!</title>

    <meta
      name="description"
      content="Monetize your creativity as a creator with a simple step by step guide"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
