<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fav.png" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Amplify & Scale Framework: Turn Your Creativity Into a Profitable Business
    </title>

    <meta
      name="description"
      content="Learn how to monetize your creative skills with the Amplify & Scale Framework. Get a clear roadmap, scalable revenue strategies, templates for pitching brands, and tools to price your services confidently. Perfect for creators and creative entrepreneurs looking to build multiple income streams, secure partnerships, and streamline their business."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://flowgency.xyz/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Amplify & Scale Framework: Turn Your Creativity Into a Profitable Business"
    />
    <meta
      property="og:description"
      content="Learn how to monetize your creative skills with the Amplify & Scale Framework. Get a clear roadmap, scalable revenue strategies, templates for pitching brands, and tools to price your services confidently. Perfect for creators and creative entrepreneurs looking to build multiple income streams, secure partnerships, and streamline their business."
    />
    <meta
      property="og:image"
      content="https://oyster-app-7d8up.ondigitalocean.app/_astro/Dimeji-creator-working.DnyGxyUF_ZsCDCg.webp"
    />

    <!-- Twitter Meta Tags -->
    <meta property="twitter:creator" content="@" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="flowgency.xyz" />
    <meta property="twitter:url" content="https://x.com/diimejii" />
    <meta
      name="twitter:title"
      content="Amplify & Scale Framework: Turn Your Creativity Into a Profitable Business"
    />
    <meta
      name="twitter:description"
      content="Learn how to monetize your creative skills with the Amplify & Scale Framework. Get a clear roadmap, scalable revenue strategies, templates for pitching brands, and tools to price your services confidently. Perfect for creators and creative entrepreneurs looking to build multiple income streams, secure partnerships, and streamline their business."
    />
    <meta
      name="twitter:image"
      content="https://oyster-app-7d8up.ondigitalocean.app/_astro/Dimeji-creator-working.DnyGxyUF_ZsCDCg.webp"
    />

    <meta
      property="og:image"
      content="https://oyster-app-7d8up.ondigitalocean.app/_astro/Dimeji-creator-working.DnyGxyUF_ZsCDCg.webp"
    />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="593" />

    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Learn how to monetize your creative skills with the Amplify & Scale Framework. Get a clear roadmap, scalable revenue strategies, templates for pitching brands, and tools to price your services confidently. Perfect for creators and creative entrepreneurs looking to build multiple income streams, secure partnerships, and streamline their business."
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
